<div class="card">
    <div class="container" *ngIf="user; else loading">
      <h4><b>{{user.username}}</b></h4>
      <p><strong>Email:</strong> {{user.email}}</p>
      <p><strong>Website:</strong> <a href="http://{{user.website}}" target="_blank">{{user.website}}</a></p>
      <p><strong>Address:</strong></p>
      <ul>
        <li>Street: {{user.address.street}}</li>
        <li>City: {{user.address.city}}</li>
        <li>Zipcode: {{user.address.zipcode}}</li>
      </ul>
      <p><strong>Phone:</strong> {{user.phone}}</p>
      <p><strong>Company:</strong> {{user.company.name}}</p>
    </div>
    <ng-template #loading>
        <img src="https://cdn.dribbble.com/users/29051/screenshots/2347771/spinner.mov.gif" height="200" width="200" alt="Loading..." style="text-align: center;">
    </ng-template>
</div>