<img src="https://kpmg.com/content/experience-fragments/kpmgpublic/xx/en/site/header/master/_jcr_content/root/header/logo.coreimg.svg/1724184164104/logo.svg">
<section style="background-image: url('https://assets.kpmg.com/is/image/kpmgcloud/globe-hologram-girl-banner:cq5dam-web-2732-1088?wid=2732&hei=1088');">
    <h3>Empowering human-AI collaboration for a trusted future&nbsp;</h3>
    <p>Trust, attitudes and use  &nbsp; of artificial intelligence &nbsp; A 2025 global study from the University &nbsp; of Melbourne in &nbsp; collaboration with KPMG.</p>
</section>