<div class="container mt-4">
    <div class="text-center">
        <img src="https://kpmg.com/content/experience-fragments/kpmgpublic/xx/en/site/header/master/_jcr_content/root/header/logo.coreimg.svg/1724184164104/logo.svg" 
             alt="KPMG Logo" class="img-fluid mb-4">
    </div>
    <section class="jumbotron bg-light p-4">
        <h3 class="text-primary text-center">Empowering human-AI collaboration for a trusted future</h3>
        <p class="text-muted text-center">
            Trust, attitudes, and use of artificial intelligence: A 2025 global study from the University of Melbourne in collaboration with KPMG.
        </p>
    </section>
</div>